{% load static %}
<div class="cart-window p-3">
  <div class="cart-header">
    <h1>Quote Cart</h1>
    <button class="close-cart" id="close-cart" onclick="closeCart()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-x"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </button>
  </div>
  <div id="cart-content"></div>
  <div class="cart-footer">
    <button class="clear-cart w-1/2">Clear Cart</button>
    <button class="submit-quote w-1/2 bg-indigo-950 text-white">
      Submit Quote
    </button>
  </div>
</div>
